<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Библиотека</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <!--    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>-->
    <!--    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>-->
</head>
<body>
<center><h1>Библиотека</h1></center>

<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Авторы</th>
            <th>Жанры</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.name}">Камасутра</td>
            <td th:text="${book.comment}">Как ремонтировать Москвич</td>
            <td th:text="${book.authors}">Ленин, Сталин</td>
            <td th:text="${book.genres}">Занимательная литература</td>
            <td>
                <a href="/bookEdit/1" th:href="@{/bookEdit/__${book.id}__}">Редактировать</a>
                <a href="/bookDelete/1" th:href="@{/bookDelete/__${book.id}__}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <p>
        <a href="/bookEdit" th:href="@{/bookEdit}">Новая книга</a>
    </p>

</div>
</body>
</html>