<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Библиотека</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <!--    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>-->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h1>Описание книги</h1>
    <form class="form-group" action="/bookEdit" th:action="@{/bookEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${book.id}"/>
        <div class="form-group">
            <label for="title">Название</label>
            <input type="text" class="form-control" id="title" th:field="${book.name}"/>
        </div>
        <div class="form-group">
            <label for="comment">Описание</label>
            <input type="text" class="form-control" id="comment" th:field="${book.comment}"/>
        </div>
        <table class="table">
            <tbody>
            <table class="table" border="single">
                <thead>
                <tr>
                    <th>Авторы книги</th>
                    <th>Все авторы</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <table class="table">
                            <thead>
                            <tr>
                                <th> Ф И О</th>
                                <th>Удалить?</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="author : ${book.authors}">
                                <td th:text="${author.id}" hidden></td>
                                <td th:text="${author.name}"></td>
                                <td>
                                    <a th:href="@{/book/__${book.id}__/author/del/__${author.id}__ }">Да</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <thead>
                            <tr>
                                <th> Ф И О</th>
                                <th>Добавить?</th>
                            </tr>
                            </thead>

                            <tbody>
                            </tr>
                            <tr th:each="author : ${@bookServiceImpl.notAuthors(__${book.id}__)}">
                                <td th:text="${author.id}" hidden></td>
                                <td th:text="${author.name}"></td>
                                <td>
                                    <a th:href="@{/book/__${book.id}__/author/add/__${author.id}__ }">Да</a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            </tbody>
        </table>

        <table class="table">
            <tbody>
            <table class="table" >
                <thead>
                <tr>
                    <th>Жанры книги</th>
                    <th>Все жанры</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Жанр</th>
                                <th>Удалить ?</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="genre : ${book.genres}">
                                <td th:text="${genre.id}" hidden></td>
                                <td th:text="${genre.name}"></td>
                                <td>
                                    <a th:href="@{/book/__${book.id}__/genre/del/__${genre.id}__ }">Да</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                    <td>
                        <table class="table" border="single">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Добавить?</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tr>
                            <tr th:each="genre : ${@bookServiceImpl.notGenres(__${book.id}__)}">
                                <td th:text="${genre.id}" hidden></td>
                                <td th:text="${genre.name}"></td>
                                <td>
                                    <a th:href="@{/book/__${book.id}__/genre/add/__${genre.id}__ }">Да</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Отменить</a>
    </form>
</div>
</body>
</html>